# ========================================================
# Environment Variables (Cloudflare Pages & Vercel)
# ========================================================

# Database (Neon PostgreSQL Serverless) - Wajib
DATABASE_URL="postgresql://username:password@ep-sample-xyz.region.aws.neon.tech/neondb?sslmode=require"

# JWT Secret untuk session siswa & user - Opsional (Disarankan untuk production)
JWT_SECRET="ujian-madrasah-jwt-secret-2024-ganti-di-production"

# Cloudinary (Penyimpanan Foto Profil Siswa & Tanda Tangan Ujian) - Opsional
PUBLIC_CLOUDINARY_CLOUD_NAME="dfhtjgwcz"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
